body {
    background-image: url("../images/curtains de goede.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.questions {display: none; height: inherit;}
img {vertical-align: middle; max-height: 100%;}

.main-container {
    width: 80%;
    margin: 135px auto 0 auto;

}

.question-card {
    box-shadow: 0 8px 6px -6px black;
    height: 200px;
    width: 50%;
    margin: auto auto;
    text-align: center;
    background-color: #f2f2f2;
}

.question-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.prev{
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
    font-size: x-large;
}

.next{
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
    font-size: x-large;
}

h1{
    text-align: center;
    color: dimgray;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
}

@media only screen and (max-width: 500px) {
    body {
        background-image: url("../images/gordijnendegoedetel.png");
        background-repeat: no-repeat;
        background-size:cover;
    }
}


title{
    text-align:left;
}
h2{
    text-align:left;
    color: dimgray;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
}

#questionForm{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #e6e4d5;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
.btn{
    position: relative;
    display: block;
    width: 200px;
    height: 36px;
    border-radius: 18px;
    background-color: #b20434;
    border: solid 1px transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: all .1s ease-in-out;
    margin-top: 10px;
}

#inputQuestion{
    margin-top: 10px;
}